name: .NET
on:
  push:
    branches: [ develop, develop-v0, develop-v1 ]
  pull_request:
    branches: [ develop, develop-v0, develop-v1 ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup 5.0 .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Setup 3.1 .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -c Release
    - name: Unit Tests
      run: dotnet test --no-build --verbosity normal --filter Category=unit -c Release
  integration_tests:
    runs-on: ubuntu-latest
    needs: build
    env:
      HELPZ_POSTGRESQL_PASS: Password12!
      EVENTFLOW_MSSQL_SERVER: 127.0.0.1,1433
      EVENTFLOW_MSSQL_USER: sa
      EVENTFLOW_MSSQL_PASS: Password12! 
    steps:
      - uses: actions/checkout@v2
      - name: Setup 5.0 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Setup 3.1 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -c Release
      - name: Integration Tests
        run: dotnet test --no-build --verbosity minimal --filter Category=integration -c Release
        env:
          ELASTICSEARCH_URL: "elasticsearch"
          RABBITMQ_URL: "amqp://rabbitmq"
    services:
      rabbitmq:
        image: rabbitmq:3-management-alpine
        env:
          RABBITMQ_DEFAULT_USER: guest
          RABBITMQ_DEFAULT_PASS: guest
        ports:
          - 5672:5672
          - 15672:15672
      eventstore:
        image: eventstore/eventstore:release-4.1.3
        ports:
          - "1113:1113"
          - "2113:2113"
      postgres:
        image: postgres:10
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: Password12!
        ports:
          - "5432:5432"
      mssql:
        image: mcr.microsoft.com/mssql/server:2017-latest
        env:
          ACCEPT_EULA: Y
          SA_PASSWORD: Password12!
        ports:
          - "1433:1433"
      elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.13.2
        ports:
          - 9200:9200



