name: .NET
on:
  push:
    branches: [ develop, develop-v0, develop-v1 ]
  pull_request:
    branches: [ develop, develop-v0, develop-v1 ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup 5.0 .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Setup 3.1 .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -c Release
    - name: Unit Tests
      run: dotnet test --no-build --verbosity normal --filter Category=unit -c Release
    - name: Upload Build
      uses: actions/upload-artifact@v2
      with:
        name: build
        path: ./Source/**/bin
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download Build
        uses: actions/download-artifact@v2
        with:
          name: build

