name: .NET
on:
  push:
    branches: [develop, develop-v0, develop-v1]
  pull_request:
    branches: [develop, develop-v0, develop-v1]
env:
  EVENTFLOW_MSSQL_SERVER: 127.0.0.1,1433
  EVENTFLOW_MSSQL_USER: sa
  EVENTFLOW_MSSQL_PASS: Password12!
  HELPZ_POSTGRESQL_PASS: Password12!
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup 5.0 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Setup 3.1 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -c Release
      - name: Unit Tests
        run: dotnet test --no-build --verbosity normal --filter Category=unit -c Release
  integration_tests_elasticsearch:
    runs-on: ubuntu-latest
    name: Integration Tests / ElasticSearch
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Setup 5.0 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Setup 3.1 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -c Release
      - name: Integration Tests
        run: dotnet test --no-build --verbosity minimal --filter Category=integration -c Release ./Source/EventFlow.Elasticsearch.Tests
        env:
          ELASTICSEARCH_URL: "http://localhost:9200"
    services:
      elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.13.2
        env:
          discovery.type: single-node
          ES_JAVA_OPTS: -Xms1g -Xmx1g
        ports:
          - 9200:9200
  integration_tests_rabbitmq:
    runs-on: ubuntu-latest
    name: Integration Tests / RabbitMQ
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Setup 5.0 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Setup 3.1 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -c Release
      - name: Integration Tests
        run: dotnet test --no-build --verbosity minimal --filter Category=integration -c Release ./Source/EventFlow.RabbitMQ.Tests
        env:
          RABBITMQ_URL: "amqp://guest:guest@localhost:5672"
    services:
      rabbitmq:
        image: rabbitmq:3-management-alpine
        env:
          RABBITMQ_DEFAULT_USER: guest
          RABBITMQ_DEFAULT_PASS: guest
        ports:
          - 5672:5672
          - 15672:15672
  integration_tests_eventstore:
    runs-on: ubuntu-latest
    name: Integration Tests / EventStore
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Setup 5.0 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Setup 3.1 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -c Release
      - name: Integration Tests
        run: dotnet test --no-build --verbosity minimal --filter Category=integration -c Release ./Source/EventFlow.EventStores.EventStore.Tests
    services:
      eventstore:
        image: eventstore/eventstore:release-4.1.3
        env:
          EVENTSTORE_CLUSTER_SIZE: 1
          EVENTSTORE_RUN_PROJECTIONS: All
          EVENTSTORE_START_STANDARD_PROJECTIONS: true
          EVENTSTORE_EXT_TCP_PORT: 1113
          EVENTSTORE_EXT_HTTP_PORT: 2113
          EVENTSTORE_INSECURE: true
          EVENTSTORE_ENABLE_EXTERNAL_TCP: true
          EVENTSTORE_ENABLE_ATOM_PUB_OVER_HTTP: true
        ports:
          - "1113:1113"
          - "2113:2113"
  integration_tests_postgre:
    runs-on: ubuntu-latest
    name: Integration Tests / Postgre
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Setup 5.0 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Setup 3.1 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -c Release
      - name: Integration Tests
        run: dotnet test --no-build --verbosity minimal --filter Category=integration -c Release ./Source/EventFlow.PostgreSql.Tests
    services:
      postgres:
        image: postgres:10
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: Password12!
        ports:
          - "5432:5432"
  integration_tests_msql:
    runs-on: ubuntu-latest
    name: Integration Tests / MsSql
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Setup 5.0 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Setup 3.1 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -c Release
      - name: Integration Tests
        run: dotnet test --no-build --verbosity minimal --filter Category=integration -c Release ./Source/EventFlow.MsSql.Tests
    services:
      mssql:
        image: mcr.microsoft.com/mssql/server:2017-latest
        env:
          ACCEPT_EULA: Y
          SA_PASSWORD: Password12!
        ports:
          - "1433:1433"
  integration_tests_entity_framework:
    runs-on: ubuntu-latest
    name: Integration Tests / Entity Framework
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Setup 5.0 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Setup 3.1 .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -c Release
      - name: Integration Tests
        run: dotnet test --no-build --verbosity minimal --filter Category=integration -c Release ./Source/EventFlow.EntityFramework.Tests
    services:
      mssql:
        image: mcr.microsoft.com/mssql/server:2017-latest
        env:
          ACCEPT_EULA: Y
          SA_PASSWORD: Password12!
        ports:
          - "1433:1433"
      postgres:
        image: postgres:10
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: Password12!
        ports:
          - "5432:5432"
